---
interface Props {
  picture: string;
  name: string;
  role: string;
  yearCourse?: string;
  verse: string;
  bio: string;
}

const { name, role, yearCourse, verse, bio }: Props =
  Astro.props;
---

<div
  class="max-w-sm p-7 gap-3 flex flex-col items-center justify-around rounded-xl shadow-md text-justify bg-leaf-100 text-leaf-600"
>
  <div class="rounded-full w-40 h-40 bg-leaf-500"></div>
  <p class="uppercase font-semibold">{name}</p>
  <p>{role}</p>
  {yearCourse && <p>{yearCourse}</p>}
  <p>{verse}</p>
  <p>{bio}</p>
</div>
